:root {
  --primary-color: #660000;
  --secondary-color: #a94442;
  --background-color: #f5f5f5;
  --text-color: #3b1f1f;
  --accent-color: salmon;
}

@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative&display=swap");

body {
  margin: 0;
  font-family: "Cinzel Decorative", cursive;
  font-size: 1.6rem;
  background-color: var(--background-color);
}

@media (max-width: 700px) {
  body {
    font-size: 1rem;
    margin: 0;
  }
}

header,
footer {
  background-color: var(--primary-color);
  color: white;
  padding-left: 1%;
  padding-right: 1%;
}

footer {
  position: fixed;
  background-color: var(--primary-color);
  bottom: 0;
  width: 100%;
  height: 70px;
  text-align: center;
  font-size: 0.9rem;
}

header .container,
.container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 20px;
}

.icon-white {
  color: white;
}

.flex-section {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  gap: 15px;
  margin-bottom: 30px;
}

.flex-box {
  flex: 1 1 calc(20% - 15px);
  min-width: 150px;
  background-color: var(--accent-color);
  border: 2px solid var(--secondary-color);
  padding: 20px;
  text-align: center;
  border-radius: 10px;
  color: var(--text-color);
  font-weight: bold;
}
